.blueprint {
	background:radial-gradient(50% 100%, rgba(255,255,255,.2), rgba(255,255,255,0)),
	  
			   linear-gradient(90deg, rgba(50,100,170,.7) 1px, transparent 0),
			   linear-gradient(180deg, rgba(50,100,170,.7) 1px, transparent 0),
	  
			   linear-gradient(90deg, rgba(50,100,170,.4) 1px, transparent 0),
			   linear-gradient(180deg, rgba(50,100,170,.4) 1px, transparent 0),
	  
			   linear-gradient(90deg, rgba(50,100,170,1) 2px, transparent 0),
			   linear-gradient(180deg, rgba(50,100,170,1) 2px, transparent 0);

	background-color:#074b97;

	background-size:100% 100%,
	  
					50px 50px,
					50px 50px,
	  
					25px 25px,
					25px 25px,
	  
					100px 100px,
					100px 100px;
	background-attachment: local;
}